@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
* {
    box-sizing: border-box;
}
:root{
    --bg-color: black;
    --cont-color: #2BC016;
    --hd-color: white;
}

body{
    background-color: var(--bg-color);
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    padding: 100px;
    cursor: url(./sword.png),auto;
}
h1,h2,h3,h4,h5,h6{font-family:'press start 2p', cursive;}
/* ---------------- */

/* Container Section */
.app-container{
    background-color: var(--cont-color);
    width:300px;
    border-radius: 10px 10px 0 0px;
    margin: auto;
}
/* Container Section */

/* ---------------- */

/* Main Section */
.h1-text{
    font-size: 1.1rem; 
    margin-top:20px;
    margin-bottom: 0;
    color: var(--hd-color);
}
.h5-text{
    font-size: 0.5rem;
    color: #007f5f;
}
.Main-Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--hd-color);
}

.button-container{
    display: flex;
}
.btn{
    border-radius:0px;
    margin-right: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
    width: 100px;
    height: 40px;
    cursor: url(./sword.png),auto;
}
.btn-2{
    background-color: #297FE5;
    color: white;
}
.btn-2 > img{
    margin-left: 0.5px;
    width:14px;
}
.btn-2:hover, .btn-2 > img:hover{
    background-color: black;
    color: white;
}

@media (min-width: 375px) and (max-width: 768px){
    .app-container{
        width: 100%;
        margin: auto;
        height: 100%;
    }
    .about-section{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .app-container{
        width: 70%;
        margin: auto;
    }
     .about-section{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media (min-width: 1000px){
    .app-container{
        width: 300px;
        margin: auto;
    }
     .about-section{
        width: 100%;
        flex-wrap: wrap;
    }
}

/* Main Section */

/* ---------------- */

/* About Section */
.about-section{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 15px;
    /*make grid for me */
  
}
/* About Section */

/* ---------------- */

/* Footer Section */
.socials-background{
    background-color:#2b9348;
    display: flex;
    align-items: center;
    padding:5px;
    justify-content: space-around;
    width: 100%;
}
.social{
    width: 30px;
}
/* Footer Section */

/* ---------------- */

/* Profile Image Section */
.profile-image{
    width:100%;
    border-radius: 10px 10px 0 0px; 
}
/* Profile Image Section */

/* ---------------- */

